<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="cancel()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'ITEM_CREATE_TITLE' | translate }}</ion-title>
    <ion-buttons right>
      <button ion-button (click)="createItem()" [disabled]="!isReadyToSave" strong>
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <gallery-item (dataToEmmit)="handlePictureBtn($event)"></gallery-item>
    <ion-list>
      <ion-row>
        <ion-item col-12>
          <ion-label floating>{{ 'ITEM_NAME_PLACEHOLDER' | translate }}</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item col-12>
          <ion-label floating>{{ 'ITEM_ABOUT_PLACEHOLDER' | translate }}</ion-label>
          <ion-textarea type="text" formControlName="about"></ion-textarea>
        </ion-item>
        <ion-item class="selec-currency" col-4>
          <ion-select interface="popover" formControlName="currency">
            <ion-option *ngFor="let currency of currencies" [value]="currency.value">{{currency.nameAr}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item col-8>
          <ion-label floating>{{ 'ITEM_PRICE_PLACEHOLDER' | translate }}</ion-label>
          <ion-input type="number" max="9" formControlName="price"></ion-input>
        </ion-item>
        <ion-item col-12>
          <ion-label floating>{{ 'ITEM_CATEGORY_PLACEHOLDER' | translate }}</ion-label>
          <ion-select interface="action-sheet" formControlName="category">
            <ion-option *ngFor="let category of categories" [value]="category.value">{{category.nameAr}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item col-12>
          <ion-label floating>{{ 'ITEM_WILAYA_PLACEHOLDER' | translate }}</ion-label>
          <ion-select interface="action-sheet" formControlName="wilaya">
            <ion-option *ngFor="let wilaya of wilayas" [value]="wilaya.value">{{wilaya.nameAr}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
    </ion-list>
  </form>
</ion-content>
