<ion-header no-border>
  <ion-navbar>
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content scroll="false">
  <ion-grid>
      <ion-row>
        <ion-col>
          <form *ngIf="form" [formGroup]="form" (submit)="doLogin()">
            <ion-list>

              <ion-item>
                <ion-label floating>{{ 'EMAIL' | translate }}</ion-label>
                <ion-input type="email" formControlName="email" name="email"></ion-input>
              </ion-item>
              <div *ngIf="!form.controls.email.valid && form.controls.email.dirty" class="validator-error">
                  {{ 'ERROR_FORM_EMAIL' | translate }}
              </div>

              <ion-item>
                <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
                <ion-input type="password" formControlName="password" name="password"></ion-input>
              </ion-item>
              <div *ngIf="!form.controls.password.valid && form.controls.password.dirty" class="validator-error">
                  {{ 'ERROR_FORM_PASSWORD_LENGTH' | translate }}
              </div>
              <div class="padding-top">
                <button ion-button block round type="submit">{{ 'LOGIN_BUTTON' | translate }}</button>
              </div>
            </ion-list>
          </form>
          <ion-list>
            <div>
              <button color="facebook" ion-button block round (click)="facebookUp()" class="facebookUp">{{ 'FACEBOOK' | translate }}</button>
              <button ion-button block round outline (click)="signup()" class="signup">{{ 'SIGNUP' | translate }}</button>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
