<ion-header>

  <ion-navbar>
    <ion-buttons class="options" right>
      <button [hidden]="isEnabled" icon-only ion-button>
        <ion-icon name="heart"></ion-icon>
      </button>
      <button icon-only ion-button>
        <ion-icon name="share"></ion-icon>
      </button>
      <button [hidden]="!isEnabled" icon-only ion-button (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ itemDetails?.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="item-profile" *ngIf="itemDetails" spaceBetween="10px">
    <ion-slides paginationType="bullets" pager="true" dir="rtl" centeredSlides="true" (click) = "goToSlide()">
      <ion-slide *ngFor="let slide of itemDetails.imagesItem">
        <img [src]="slide">
      </ion-slide>
    </ion-slides>
  </div>

  <div *ngIf="itemDetails" class="item-detail" padding>
    <p>{{'DETAILS_ITEM_LAST_UPDATE' | translate}} : {{itemDetails.timestamp | date:'shortDate'}}</p>
    <h2>{{itemDetails.price | number}} {{itemDetails.currency}}</h2>
    <p>{{itemDetails.wilaya}}</p>
    <p>{{itemDetails.about}}</p>
  </div>
</ion-content>
