take-picture {
  .gallery-images {
    // margin: 0px 20px 0px 15px;
    // @include margin(0px, 20px, 0px, 0px);
    display: inline-flex;
    .profile-image-wrapper {
      @include margin(0px, 18px, 0px, 0px);
      // margin-right: 18px;
      .profile-image {
        width: 66px;
        height: 66px;
        border-radius: 10%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      .profile-image-placeholder {
        background-color: color($colors, secondary);
        width: 66px;
        height: 66px;
        border-radius: 10%;
        font-size: 12px;
        ion-icon {
          font-size: 40px;
          @include margin(24%, 0, 0, 24%);
        }
      }
    }
    .profile-image-wrapper:last-child {
      @include margin(0px);

    }
  }
}
