ion-toast.success .toast-wrapper {
	background: color($colors, secondary);
}

ion-toast.error .toast-wrapper {
	background: color($colors, danger);
}

ion-toast.info .toast-wrapper {
	background: color($colors, info);
}
