<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SETTINGS_TITLE' | translate  }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION1' | translate }}</ion-label>
        <ion-toggle formControlName="option1"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION2' | translate }}</ion-label>
        <ion-input formControlName="option2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_SELECT_LANG' | translate }}</ion-label>
        <ion-select interface="popover" class="selector" formControlName="optionLang" [(ngModel)]="selectedLang">
          <ion-option class="option" value="es">{{ 'SETTINGS_LANG_SPANISH' | translate }}</ion-option>
          <ion-option class="option" value="ar">{{ 'SETTINGS_LANG_ARABIC' | translate }}</ion-option>
        </ion-select>
      </ion-item>

      <button ion-item [navPush]="subSettings" [navParams]="profileSettings">
        {{ 'SETTINGS_PROFILE_BUTTON' | translate }}
      </button>
    </ion-list>

    <ion-list *ngIf="page == 'profile'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
        <ion-input formControlName="option4"></ion-input>
      </ion-item>
    </ion-list>
  </form>

</ion-content>
