page-profile-user {
  .segment-info {
    .list {
      padding: 10px 0;
    }
  }
  .item {
    ion-avatar {
      img {
        width: 80px;
        height: 80px;
      }
    }
    .counter-sales {
      font-size: 14px;
      margin: 0px !important;
      h2 {
        font-size: 4vh;
      }
      ul {
        margin: 0;
        list-style-type: none;
        padding: 0;
        display: flex;
        li {
          @include margin(0, 8px, 0, 0);
        }
      }
    }
  }
}
