page-select-language {
  .content {
    background: url("../assets/img/desert-image.jpg") no-repeat center center fixed;
  }
  .grid {
    height: 100%;
    justify-content: center;
    text-align: center;
  }
}
