page-list-master {
  .card-background-page {
    position: relative;
    column-count: 2;
    column-gap: 1em;
    padding: 0.8em;
    ion-card {
      display: inline-block;
      margin: 0px 0px 4px 0px !important;
      width: 100%;
      .description {
        top: 80%;
        width: 100%;
        background-color: #458292;
        opacity: 0.8;
        padding: 10px;
        color: azure;
        .card-title {
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
        }

        .card-subtitle {
          font-size: 1.0em;
          width: 100%;
        }
      }
    }

  }
}
